## 2. PANDAS

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Series

Series is like a 1D array. The value in the series have an index, which, by default, use consequtive integers from 0

In [3]:
s = pd.Series([2, 4, -12, 0, 2])
s

0     2
1     4
2   -12
3     0
4     2
dtype: int64

You can get its shape and dtype as we did with numpy arrays:

In [4]:
s.shape

(5,)

In [5]:
s.dtype

dtype('int64')

You can get the values as a numpy array:

In [7]:
s.values

array([  2,   4, -12,   0,   2])

You can access by indexing and slicing like in python:

In [8]:
s[3]

0

In [9]:
s[1:3]

1     4
2   -12
dtype: int64

In [10]:
s[1:]

1     4
2   -12
3     0
4     2
dtype: int64

A nice feature is boolean indexing, where you extract values using a list of booleans, and it returns the values that correspond to the Trues in the list:

In [11]:
s[[True, True, False, False, True]]

0    2
1    4
4    2
dtype: int64

In [14]:
s[[False, False, False, True, True]]

3    0
4    2
dtype: int64

Operators are vectorised, similar to numpy:

In [16]:
s * 2

0     4
1     8
2   -24
3     0
4     4
dtype: int64

In [18]:
s > 0

0     True
1     True
2    False
3    False
4     True
dtype: bool

The next example is neat, it combines a vectorised operator with the idea of boolean indexing:

In [19]:
s[s > 0]

0    2
1    4
4    2
dtype: int64

There are many methods, as you would expect, many building out from numpy eg:

In [20]:
s.sum()

-4

In [21]:
s.mean()

-0.8

In [22]:
s.unique()

array([  2,   4, -12,   0])

In [24]:
s.value_counts()

 2     2
 4     1
-12    1
 0     1
dtype: int64

One method is astype, which can to data type conversions:

In [25]:
s.astype(float)

0     2.0
1     4.0
2   -12.0
3     0.0
4     2.0
dtype: float64

### DataFrame

A DataFrame is a table of data, comprising rows and columms. The rows and colums both have index. If you want more dimensions, then they support hirarichal indexing.

There are various ways of creating a DataFrame e.g supply to its constructor a dictionary of equal-sized lists:

In [29]:
df = pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

The keys of the dictionary became the column index, and it's assigned integers to the other index.

But, instead of lookng at all the possible ways of doing this, we'll be reading in the data in from a csv file. We will assume that the first line of the file contains headers. Those become the column indexes.

In [33]:
df = pd.read_csv("datasets/dataset_stop_and_searchA.csv")

In [34]:
df

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Male,NaN,Other ethnic group - Not stated,Black,Offensive weapons,A no further action disposal
1,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
2,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
5,Male,18-24,Other ethnic group - Not stated,White,Controlled drugs,A no further action disposal
6,Male,18-24,White - Any other White background,White,Controlled drugs,A no further action disposal
7,Male,25-34,Asian/Asian British - Indian,Asian,Stolen goods,Arrest
8,Male,18-24,White - Any other White background,White,Controlled drugs,A no further action disposal
9,Male,NaN,Other ethnic group - Any other ethnic group,Black,Controlled drugs,A no further action disposal
10,Male,NaN,White - Any other White background,White,Offensive weapons,A no further action disposal
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
12,Male,10-17,Black/African/Caribbean/Black British - African,Black,Offensive weapons,A no further action disposal
13,Male,over 34,White - Any other White background,White,Evidence of offences under the Act,A no further action disposal
14,Male,over 34,White - Any other White background,White,Stolen goods,A no further action disposal
15,Male,25-34,Black/African/Caribbean/Black British - Caribbean,Black,Offensive weapons,A no further action disposal
16,Male,25-34,Other ethnic group - Not stated,Asian,Offensive weapons,A no further action disposal
17,Male,18-24,Black/African/Caribbean/Black British - Caribbean,White,Evidence of offences under the Act,Arrest
18,Male,25-34,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,A no further action disposal
19,Male,25-34,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
20,Male,18-24,Mixed/Multiple ethnic groups - White and Black...,Black,Controlled drugs,A no further action disposal
21,Male,10-17,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
23,Male,18-24,Black/African/Caribbean/Black British - African,Black,Controlled drugs,Arrest
24,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Evidence of offences under the Act,Arrest
25,Male,18-24,Black/African/Caribbean/Black British - Caribbean,Black,Controlled drugs,Community resolution
26,Male,25-34,White - Any other White background,White,Offensive weapons,Arrest
27,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
28,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Offensive weapons,Community resolution
29,Male,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest
31,Male,25-34,White - Any other White background,White,Stolen goods,Arrest
32,Male,25-34,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
33,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Stolen goods,A no further action disposal
34,Male,10-17,Other ethnic group - Not stated,Black,Controlled drugs,Arrest
35,Male,18-24,Other ethnic group - Not stated,Black,Offensive weapons,Arrest
36,Male,NaN,White - English/Welsh/Scottish/Northern Irish/...,White,Controlled drugs,A no further action disposal
37,Male,18-24,Other ethnic group - Not stated,Other,Controlled drugs,A no further action disposal
38,Male,18-24,Asian/Asian British - Any other Asian background,Asian,Evidence of offences under the Act,Arrest
39,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,Arrest

Notice when the CSV file has an empty value(a pair of consequtive commas,) then pandas treats this as NaN, which is a float.

A usefule method at this point is describe.

In [36]:
df.describe(include='all')

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
count,40,36,40,40,40,40
unique,2,4,10,4,4,3
top,Male,18-24,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
freq,37,22,12,16,22,24

We can get the column headers, row index, shape and dtypes:

In [37]:
df.columns

Index(['Gender', 'Age', 'Suspect-ethnicity', 'Officer-ethnicity',
       'Object-of-search', 'Outcome'],
      dtype='object')

In [38]:
df.index

RangeIndex(start=0, stop=40, step=1)

In [39]:
df.shape

(40, 6)

In [41]:
df.dtypes

Gender               object
Age                  object
Suspect-ethnicity    object
Officer-ethnicity    object
Object-of-search     object
Outcome              object
dtype: object

You can retrieve a whole column as a Series, using column indexing:

In [43]:
df["Suspect-ethnicity"]

0                       Other ethnic group - Not stated
1                       Other ethnic group - Not stated
2                       Other ethnic group - Not stated
3                       Other ethnic group - Not stated
4                       Other ethnic group - Not stated
5                       Other ethnic group - Not stated
6                    White - Any other White background
7                          Asian/Asian British - Indian
8                    White - Any other White background
9           Other ethnic group - Any other ethnic group
10                   White - Any other White background
11    Black/African/Caribbean/Black British - Any ot...
12      Black/African/Caribbean/Black British - African
13                   White - Any other White background
14                   White - Any other White background
15    Black/African/Caribbean/Black British - Caribbean
16                      Other ethnic group - Not stated
17    Black/African/Caribbean/Black British - Caribbean
18    Black/African/Caribbean/Black British - Any ot...
19                      Other ethnic group - Not stated
20    Mixed/Multiple ethnic groups - White and Black...
21                      Other ethnic group - Not stated
22    White - English/Welsh/Scottish/Northern Irish/...
23      Black/African/Caribbean/Black British - African
24    White - English/Welsh/Scottish/Northern Irish/...
25    Black/African/Caribbean/Black British - Caribbean
26                   White - Any other White background
27     Asian/Asian British - Any other Asian background
28    Black/African/Caribbean/Black British - Any ot...
29     Asian/Asian British - Any other Asian background
30    Black/African/Caribbean/Black British - Any ot...
31                   White - Any other White background
32     Asian/Asian British - Any other Asian background
33    White - English/Welsh/Scottish/Northern Irish/...
34                      Other ethnic group - Not stated
35                      Other ethnic group - Not stated
36    White - English/Welsh/Scottish/Northern Irish/...
37                      Other ethnic group - Not stated
38     Asian/Asian British - Any other Asian background
39    Black/African/Caribbean/Black British - Any ot...
Name: Suspect-ethnicity, dtype: object

Now you have a Series, you might use the unique or value_counts methods that we looked at earlier:

In [44]:
df["Suspect-ethnicity"].unique()

array(['Other ethnic group - Not stated',
       'White - Any other White background',
       'Asian/Asian British - Indian',
       'Other ethnic group - Any other ethnic group',
       'Black/African/Caribbean/Black British - Any other Black/African/Caribbean background',
       'Black/African/Caribbean/Black British - African',
       'Black/African/Caribbean/Black British - Caribbean',
       'Mixed/Multiple ethnic groups - White and Black African',
       'White - English/Welsh/Scottish/Northern Irish/British',
       'Asian/Asian British - Any other Asian background'], dtype=object)

In [46]:
df["Suspect-ethnicity"].value_counts()

Other ethnic group - Not stated                                                         12
White - Any other White background                                                       7
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background     5
White - English/Welsh/Scottish/Northern Irish/British                                    4
Asian/Asian British - Any other Asian background                                         4
Black/African/Caribbean/Black British - Caribbean                                        3
Black/African/Caribbean/Black British - African                                          2
Asian/Asian British - Indian                                                             1
Other ethnic group - Any other ethnic group                                              1
Mixed/Multiple ethnic groups - White and Black African                                   1
Name: Suspect-ethnicity, dtype: int64

if you ask for more than one column, then you must give them as list. Then, the list is not series, but a dataframe:

In [49]:
df[["Suspect-ethnicity", "Officer-ethnicity"]]

                                    Suspect-ethnicity Officer-ethnicity
0                     Other ethnic group - Not stated             Black
1                     Other ethnic group - Not stated             Asian
2                     Other ethnic group - Not stated             Asian
3                     Other ethnic group - Not stated             Asian
4                     Other ethnic group - Not stated             Asian
5                     Other ethnic group - Not stated             White
6                  White - Any other White background             White
7                        Asian/Asian British - Indian             Asian
8                  White - Any other White background             White
9         Other ethnic group - Any other ethnic group             Black
10                 White - Any other White background             White
11  Black/African/Caribbean/Black British - Any ot...             Black
12    Black/African/Caribbean/Black British - African             Black
13                 White - Any other White background             White
14                 White - Any other White background             White
15  Black/African/Caribbean/Black British - Caribbean             Black
16                    Other ethnic group - Not stated             Asian
17  Black/African/Caribbean/Black British - Caribbean             White
18  Black/African/Caribbean/Black British - Any ot...             Black
19                    Other ethnic group - Not stated             Black
20  Mixed/Multiple ethnic groups - White and Black...             Black
21                    Other ethnic group - Not stated             Asian
22  White - English/Welsh/Scottish/Northern Irish/...             Black
23    Black/African/Caribbean/Black British - African             Black
24  White - English/Welsh/Scottish/Northern Irish/...             White
25  Black/African/Caribbean/Black British - Caribbean             Black
26                 White - Any other White background             White
27   Asian/Asian British - Any other Asian background             Asian
28  Black/African/Caribbean/Black British - Any ot...             Black
29   Asian/Asian British - Any other Asian background             Asian
30  Black/African/Caribbean/Black British - Any ot...             Black
31                 White - Any other White background             White
32   Asian/Asian British - Any other Asian background             Asian
33  White - English/Welsh/Scottish/Northern Irish/...             White
34                    Other ethnic group - Not stated             Black
35                    Other ethnic group - Not stated             Black
36  White - English/Welsh/Scottish/Northern Irish/...             White
37                    Other ethnic group - Not stated             Other
38   Asian/Asian British - Any other Asian background             Asian
39  Black/African/Caribbean/Black British - Any ot...             Black

How do we get an indivisual row? 

If you do need to get an indivisual row. you cannot do indexing using sqaure brackets, because that notion if for columns.

The iloc and loc methods are probably use. iloc retrievs by position. So df.iloc[0] retrieves the first row, loc on the other hand, retreives by label, so df.loc[0] retrieves the row whose lable in the rown index is 0:

In [50]:
df.iloc[0]

Gender                                          Male
Age                                              NaN
Suspect-ethnicity    Other ethnic group - Not stated
Officer-ethnicity                              Black
Object-of-search                   Offensive weapons
Outcome                 A no further action disposal
Name: 0, dtype: object

In [52]:
df.loc[4]

Gender                                          Male
Age                                            18-24
Suspect-ethnicity    Other ethnic group - Not stated
Officer-ethnicity                              Asian
Object-of-search                    Controlled drugs
Outcome                         Community resolution
Name: 4, dtype: object

But sometimes, the position and the label in the row index will not correspond. This can happen, for example, after shuffling the rows of the DataFrame or after deleting a row

In any case, we're very much likly to want to select several rows using boolean indexing, defined by a boolean expression. We use a boolean expression that defines a series and then use that to index the dataframe.

As an example, here is a boolean expression:

In [53]:
df["Officer-ethnicity"] == 'Black' # extract column and compare them elementwise

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11     True
12     True
13    False
14    False
15     True
16    False
17    False
18     True
19     True
20     True
21    False
22     True
23     True
24    False
25     True
26    False
27    False
28     True
29    False
30     True
31    False
32    False
33    False
34     True
35     True
36    False
37    False
38    False
39     True
Name: Officer-ethnicity, dtype: bool

And here we use that boolean expression to extract rown:

In [54]:
df[df['Officer-ethnicity'] == 'Black']

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Male,NaN,Other ethnic group - Not stated,Black,Offensive weapons,A no further action disposal
9,Male,NaN,Other ethnic group - Any other ethnic group,Black,Controlled drugs,A no further action disposal
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
12,Male,10-17,Black/African/Caribbean/Black British - African,Black,Offensive weapons,A no further action disposal
15,Male,25-34,Black/African/Caribbean/Black British - Caribbean,Black,Offensive weapons,A no further action disposal
18,Male,25-34,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,A no further action disposal
19,Male,25-34,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
20,Male,18-24,Mixed/Multiple ethnic groups - White and Black...,Black,Controlled drugs,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
23,Male,18-24,Black/African/Caribbean/Black British - African,Black,Controlled drugs,Arrest
25,Male,18-24,Black/African/Caribbean/Black British - Caribbean,Black,Controlled drugs,Community resolution
28,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Offensive weapons,Community resolution
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest
34,Male,10-17,Other ethnic group - Not stated,Black,Controlled drugs,Arrest
35,Male,18-24,Other ethnic group - Not stated,Black,Offensive weapons,Arrest
39,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,Arrest

In our boolean expressions, we can do AND, OR, AND NOT, but this often requires extra perenthesis e.g:

In [55]:
df[(df['Officer-ethnicity'] == 'Black') & (df['Object-of-search'] == 'Stolen goods')]

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest

We can use this idea to delete rows

We use boolean indexing as above, to select the rows we want to keep. Then we assign that dataframe back to the original variable.

For example, lets delete all male suspects, in other words keep all female suspects:

In [56]:
df = df[df['Gender'] == 'Female'].copy()

In [57]:
df

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
27,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal

This example also illustrates the point from earlier about the difference between position (iloc) and the lable in the rown index (loc)

In [58]:
df.iloc[0]

Gender                                                          Female
Age                                                              18-24
Suspect-ethnicity    Black/African/Caribbean/Black British - Any ot...
Officer-ethnicity                                                Black
Object-of-search                                          Stolen goods
Outcome                                   A no further action disposal
Name: 11, dtype: object

In [60]:
df.loc[0] # Raises an exception

KeyError: 0

In [64]:
df.iloc[11] #Raises an exception

IndexError: single positional indexer is out-of-bounds

In [65]:
df.loc[11]

Gender                                                          Female
Age                                                              18-24
Suspect-ethnicity    Black/African/Caribbean/Black British - Any ot...
Officer-ethnicity                                                Black
Object-of-search                                          Stolen goods
Outcome                                   A no further action disposal
Name: 11, dtype: object

This is often a source of errors when writing pandas, so one tip is, whenever you perform an operation that has the potential to change the row index, then reset the index so it corresponds to the positions:

In [66]:
df.reset_index(drop=True, inplace=True)

In [67]:
df

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
1,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
2,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal

Deleting columns can be done in the same way as deleting rows, i.e extract the ones you want to keep and then assign the result back to the original variable e.g:

In [68]:
df = df[['Gender', 'Age', 'Object-of-search', 'Outcome']].copy()

In [69]:
df

   Gender    Age  Object-of-search                       Outcome
0  Female  18-24      Stolen goods  A no further action disposal
1  Female  18-24  Controlled drugs          Community resolution
2  Female  18-24  Controlled drugs  A no further action disposal

Deletion can also be done using the drop method. if axis =0 (default), your deleting rows. if axis=1, your deleting columns (and this time you name the column you want to delete)

In [70]:
df.drop("Age", axis=1, inplace=True)

In [72]:
df

   Gender  Object-of-search                       Outcome
0  Female      Stolen goods  A no further action disposal
1  Female  Controlled drugs          Community resolution
2  Female  Controlled drugs  A no further action disposal

One handy varient is dropna with axis=0, which can be used to delete rows that contain NaN

### Excercise 

I've a larger file that contains all stop-and-searches by the Metropolitan Police for about a year (mid-2018 to mid-2019).

Read it in:

In [73]:
df = pd.read_csv('datasets/dataset_stop_and_searchB.csv')

In [74]:
df.shape

(169427, 6)

Using this larger dataset, your job is to answer this question: Are the Metropolitan Police racist?

In [77]:
df.head(5)

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Male,NaN,Other ethnic group - Not stated,Black,Offensive weapons,A no further action disposal
1,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
2,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution

In [82]:
# Drop rows of NaN
df = df.dropna()
df.head()

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
1,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
2,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
5,Male,18-24,Other ethnic group - Not stated,White,Controlled drugs,A no further action disposal

In [83]:
df.shape

(152783, 6)

In [84]:
df.describe(include='all')

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
count,152783,152783,152783,152783,152783,152783
unique,4,6,18,5,9,8
top,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,A no further action disposal
freq,142774,59705,29168,61926,87489,110945

In [89]:
df['Suspect-ethnicity'].unique()

array(['Other ethnic group - Not stated',
       'White - Any other White background',
       'Asian/Asian British - Indian',
       'Black/African/Caribbean/Black British - Any other Black/African/Caribbean background',
       'Black/African/Caribbean/Black British - African',
       'Black/African/Caribbean/Black British - Caribbean',
       'Mixed/Multiple ethnic groups - White and Black African',
       'White - English/Welsh/Scottish/Northern Irish/British',
       'Asian/Asian British - Any other Asian background',
       'Mixed/Multiple ethnic groups - Any other Mixed/Multiple ethnic background',
       'Other ethnic group - Any other ethnic group',
       'Asian/Asian British - Bangladeshi',
       'Asian/Asian British - Pakistani',
       'Mixed/Multiple ethnic groups - White and Black Caribbean',
       'White - Irish', 'Mixed/Multiple ethnic groups - White and Asian',
       'Asian/Asian British - Chinese', 'Self-defined ethnicity'],
      dtype=object)

In [90]:
df['Officer-ethnicity'].unique()

array(['Asian', 'White', 'Black', 'Other', 'Officer-defined ethnicity'],
      dtype=object)

In [91]:
df[['Suspect-ethnicity', 'Officer-ethnicity', ]]

                                        Suspect-ethnicity Officer-ethnicity
1                         Other ethnic group - Not stated             Asian
2                         Other ethnic group - Not stated             Asian
3                         Other ethnic group - Not stated             Asian
4                         Other ethnic group - Not stated             Asian
5                         Other ethnic group - Not stated             White
...                                                   ...               ...
169422   Asian/Asian British - Any other Asian background             Asian
169423  Black/African/Caribbean/Black British - Caribbean             Black
169424                    Other ethnic group - Not stated             Black
169425   Asian/Asian British - Any other Asian background             Asian
169426  Black/African/Caribbean/Black British - Caribbean             Black

[152783 rows x 2 columns]

In [102]:
df['Suspect-ethnicity'].unique()

array(['Other ethnic group - Not stated',
       'White - Any other White background',
       'Asian/Asian British - Indian',
       'Black/African/Caribbean/Black British - Any other Black/African/Caribbean background',
       'Black/African/Caribbean/Black British - African',
       'Black/African/Caribbean/Black British - Caribbean',
       'Mixed/Multiple ethnic groups - White and Black African',
       'White - English/Welsh/Scottish/Northern Irish/British',
       'Asian/Asian British - Any other Asian background',
       'Mixed/Multiple ethnic groups - Any other Mixed/Multiple ethnic background',
       'Other ethnic group - Any other ethnic group',
       'Asian/Asian British - Bangladeshi',
       'Asian/Asian British - Pakistani',
       'Mixed/Multiple ethnic groups - White and Black Caribbean',
       'White - Irish', 'Mixed/Multiple ethnic groups - White and Asian',
       'Asian/Asian British - Chinese', 'Self-defined ethnicity'],
      dtype=object)

In [112]:
df['Outcome'].unique()

array(['A no further action disposal', 'Arrest', 'Community resolution',
       'Penalty Notice for Disorder', 'Summons / charged by post',
       'Khat or Cannabis warning', 'Caution (simple or conditional)',
       'Outcome'], dtype=object)

In [115]:
# frequencey of stops per race then compare the values
df= df[(['Officer-ethnicity'] == 'Black') & (df['Suspect-ethnicity'] != 'Black') & (df['Outcome']) == 'Arrest')]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (1233755547.py, line 2)